<footer class="container">
    <div class="site-footer" role="contentinfo">
        <div class="copyright left mobile-block">
            © 2016
            <span title="{{ site.author}}">{{ site.author }}</span>

            <a href="javascript:window.scrollTo(0,0)" class="right mobile-visible">TOP</a>
        </div>

        <ul class="site-footer-links right mobile-hidden">
            <li>
                {% if site.env == "prod" %}
                <span id="busuanzi_container_site_pv"> 您是本站第
                    <span id="busuanzi_value_site_uv"></span> 位访问者，本页第 <span id="busuanzi_value_page_pv"></span>
                    次点击</span>
                {% else %}
                <span> 调试模式 </span>
                {% endif %}
                <a href="javascript:window.scrollTo(0,0)">TOP</a>
            </li>
        </ul>
        <a href="{{ site.source_code }}" target="_blank" aria-label="view source code">
            <span class="mega-octicon octicon-mark-github" title="GitHub"></span>

        </a>
        <ul class="site-footer-links mobile-hidden">
            {% for nav in site.navs %}
            <li>
                <a href="{{ nav.href }}" title="{{ nav.label }}"
                    target="{{ nav.target | default: _self }}">{{ nav.label }}</a>
            </li>
            {% endfor %}
            <li>
                <a href="{{ site.subscribe_rss }}">
                    <span class="octicon octicon-rss" style="color:orange;"></span>
                </a>
            </li>
        </ul>

    </div>

    <!--  just for baidu SEO -->
    {% if site.baidu_share %}
    <div style="display:none" class="bdsharebuttonbox">
        <a href="#" class="bds_more" data-cmd="more"></a>
        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
    </div>
    <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "16" }, "share": {}, "image": { "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16" }, "selectShare": { "bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"] } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
    {% endif %}
</footer>
<!-- show the onelineTotal in remote -->
{% if (site.cnzz_analytics) %}
<script src="http://s4.cnzz.com/z_stat.php?id={{ site.cnzz_analytics_id }}" id="cnzz_id"></script>
<script src="/assets/js/cnzz-analytics.js"></script>
{% endif %}
<script src="/assets/js/jqcloud.min.js"></script>
<script src="/assets/js/lightbox.min.js"></script>
<script src="/assets/vendor/share.js/dist/js/share.min.js"></script>
<script src="/assets/js/geopattern.js"></script>
<script src="/assets/js/prism.js"></script>
<link rel="stylesheet" href="/assets/css/globals/prism.css">

<script src="/assets/js/custom/blog.js"></script>
<script src="/assets/js/custom/blog-cats-data.js"></script>
<script src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% if site.env == "prod" %}
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
{% endif %}


<script>
    jQuery(document).ready(function ($) {
        $('.geopattern').each(function () {
            $(this).geopattern($(this).data('pattern-id'));
        });

    });
</script>
{% if site.useWatermark %}
<script src="/assets/js/img2blob.js"></script>
<script>
    jQuery(document).ready(function ($) {
        //begin 图片水印设置
        $('a img').each(function (i, v) {
            $(v).attr("data-img2blob", $(v).attr("src"));
            $(v).attr("class", "img2blob")
            $(v).removeAttr("src")
        });
        $('.img2blob').img2blob({
            watermark: '@blog.sudoyc.com',
            fontStyle: 'Consolas',
            fontSize: '25',
            fontColor: '#ef5350',
        });
        setTimeout(function () {
            $('a').each(function (i, v) {
                if ($(v).attr("href") != null && $(v).attr("href").indexOf("/images/post") != -1) {
                    var $img = $(v).children(":first");
                    $img.removeAttr("data-img2blob")
                    var src = $img.attr("src")
                    $(v).attr("href", src)
                }
            })
        }, 3000)
        //end 图片水印设置
    })
</script>
{% endif %}
<!--    baidu  analytics-->
{% if site.baidu_analytics%}
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?{{ site.baidu_analytics_id }}";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
{% endif %}

</body>

</html>