<h3>推荐文章</h3>

{% assign sorted_categories = site.categories | sort %}
{% for category in sorted_categories %}
{% if   category contains  "推荐" %}
{% for repo in category.last | limit: site.side_bar_repo_limit %}
<a href="{{ repo.url }}"  class="card text-center">
    <div class="thumbnail">
        <div class="card-image geopattern" data-pattern-id="{{ repo.title }}">
            <div class="card-image-cell">
                <h3 class="card-title">
                    {{ repo.title }}
                </h3>
            </div>
        </div>
        <div class="caption">
            <div class="card-description">
                <p class="card-text">{{ repo.description }}</p>
            </div>
        </div>
    </div>
</a>
{% endfor %}
{% endif %}
{% endfor %}
