
<h3>搜索</h3>
{% if site.baidu_search %}

<form onsubmit="return baiduWithHttps(this)" action="http://www.baidu.com/baidu" target="_blank">
	<input name="tn" type="hidden" value="SE_zzsearchcode_shhzc78w">
	<a style="display:none" href="https://www.baidu.com/" target="_blank">
		<img src="https://www.baidu.com/img/baidu_jgylogo3.gif" alt="Baidu" align="bottom" border="0">
	</a>
	<div id="site_search" style="  visibility:hidden;">
		<input id="site_search_input" style="display:inline-block;float:left"   onfocus="checkHttps" name="word"  size="30" type="text" id="search_box" placeholder="搜索">
		<button   style="display:inline-block;float:center" type="button" class="btn btn-default" id="site_search_do">
			<span class="octicon octicon-search"></span></button>
			<input  id="baidu_search_do" style="display:inline-block;float:right" type="submit" class="btn btn-default"  value="百度">	

	</div>
	</form>
	<ul id="search_results"></ul>
	<script src="http://s1.bdstatic.com/r/www/cache/global/js/BaiduHttps_20150714_zhanzhang.js"></script>
	<script>
	function checkHttps () {
		BaiduHttps.useHttps();    
	};
	function baiduWithHttps (formname) {
		var data = BaiduHttps.useHttps();
		if (data.s === 0) {
			return true;
		}
		else {
			formname.action = 'https://www.baidu.com/baidu' + '?ssl_s=1&ssl_c' + data.ssl_code;
			return true;
		}
	};

	</script>

	{% else %}
	<div id="site_search" style="display:inline-flex">
		<input     name="word"  size="30" type="text" id="search_box" placeholder="搜索">
		<span><button  type="button" class="btn btn-default" id="site_search_do">
			<span class="octicon octicon-search"></span></button>
		</div>
		<ul id="search_results"></ul>

	{% endif %}
		<link rel="stylesheet" type="text/css" href="/assets/css/modules/sidebar-search.css">
		<script src="/assets/js/lunr.min.js"></script>
		<script src="/assets/js/search.js"></script>

