---
layout: default
---
<link rel="stylesheet" href="/assets/css/mermaid/mermaid.css">
<link rel="stylesheet" href="/assets/css/mermaid/mermaid.forest.css">

<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
  <div class="container">
    <div class="columns">
      <div class="column three-fourths">
        <div class="collection-title">
          <h1 class="collection-header">{{ page.title }}</h1>
          <div class="collection-info">
            {% if page.date %}
            <span class="meta-info">
              {% assign year = page.date | date:"%Y" %}
              <span class="octicon octicon-calendar"></span> 
              <a href="/archive/#year-{{year}}">{{ page.date | date: "%Y/%m/%d" }}</a>
            </span>
            {% endif %}
            {% for cat in page.categories %}
            <span class="meta-info">
              <span class="octicon octicon-file-directory"></span>
              <a href="/categories/#cat-{{ cat }}"  title="{{ cat }}">{{ cat }}</a>
            </span>
            {% endfor %}

            {% for tag in page.tags %}
            <span class="meta-info">
              <span class="octicon octicon-tag"></span><a href="/tags/#tag-{{tag}}"> {{ tag }} </a>
            </span>
            {% endfor %}
            <br />　
            {% if  page.repost == null  %}

            <span >本文为<font color="#10ccbb" style="font-size:18px">「原创」</font>内容，如需转载请注明出处！</span>
            　　　　　　　　
            {% else %}
            <span>本文章为<font color="#aabbff" style="font-size:18px">「转载」</font>内容，转载地址为 <a style="text-decoration: underline" target="_blank" href="{{ page.repost[1] }}">{{ page.repost[0] }}</a></span> 　　　

            {% endif %}　　　
            <br/>
            <span style="margin:20px"> 
            {% capture words %}
              {{ page.content | number_of_words | minus: 250 }}
            {% endcapture %}
            {% unless words contains "-" %}
            本文共 {{ page.content | number_of_words }} 字，
             需 {{ words | plus: 250 | divided_by: 180 | append: " 分钟阅读" }}
            {% endunless %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / .banner -->
<section class="container content">
  <div class="columns">
    <div class="column three-fourths" >
      <article class="article-content markdown-body">
        {{ content }}
      </article>
      <div class="share">
        {% include sns-share.html %}
      </div>
      <div class="comment">
        {% include comments.html %}
      </div>
    </div>
    <div class="column one-fourth">
      {% include sidebar-search.html %}
      {% include sidebar-post-nav.html %}
    </div>
  </div>
</section>
<!-- /section.content -->

<script>
(function(blog,$){
  blog.encodeHylinks($(".post-cat-hylink"));

  var hylink = $(".markdown-body").find("a");
  $.each(hylink,function(i,v){
    $(v).attr("target","_blank");
  })

}(blog,$))
</script>
