---
layout: default
---
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
  <div class="container">
    <div class="columns">
      <div class="column three-fourths">
        <div class="collection-title">
          <h1 class="collection-header">{{ page.title }}</h1>
          <div class="collection-info">
            {% if page.date %}
            <span class="meta-info">
              <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d" }}
            </span>
            {% endif %}
            {% for cat in page.categories %}
            <span class="meta-info">
              <span class="octicon octicon-file-directory"></span>
              <a href="/categories/detail/?cat={{ cat | url_encode}}" class="post-cat-hylink" title="{{ cat }}">{{ cat }}</a>
            </span>
            {% endfor %}

            {% for tag in page.tags %}
            <span class="meta-info">
              <span class="octicon octicon-tag"></span><a href="#"> {{ tag }} </a>
            </span>
            {% endfor %}
            <br />　
            {% if  page.repost == null  %}

            <span >本文为<font color="#10ccbb" style="font-size:18px">「原创」</font>内容，如需转载请注明出处！</span>
            　　　　　　　　
            {% else %}
                       <span>本文章为<font color="#aabbff" style="font-size:18px">「转载」</font>内容，转载地址为 <a style="text-decoration: underline" target="_blank" href="{{ page.repost[1] }}">{{ page.repost[0] }}</a></span> 　　　

            {% endif %}　　　
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / .banner -->
<section class="container content">
  <div class="columns">
    <div class="column three-fourths" >
      <article class="article-content markdown-body">
        {{ content }}
      </article>
      <div class="share">
        {% include sns-share.html %}
      </div>
      <div class="comment">
        {% include comments.html %}
      </div>
    </div>
    <div class="column one-fourth">
      {% include sidebar-search.html %}
      {% include sidebar-post-nav.html %}
    </div>
  </div>
</section>
<!-- /section.content -->

<script>
(function(blog){
  blog.encodeHylinks($(".post-cat-hylink"));
}(blog))
</script>
